{% extends 'base.html.twig' %}

{% block title %}P'titJardinier | Modification Client{% endblock %}

{% block body %}
<div class="content_ctn">
    <div class="optn_line_ctn">
        <a class="optn_btn_link" href="{{ path('user_index') }}">
        Retour à la liste des clients
        <img src="{{ asset('img/arrow.png')}}">
        </a>
        
     </div>
     {{ include('user/_form.html.twig') }}
    <div class="delete_line_form">
     {{ include('user/_delete_form.html.twig') }}
    </div>
</div> 
{% endblock %}
